#set( $title =  $signature.getTitle())
#if( $panel )
<div class="panel" style="border-width: 1px;">
	<div class="panelHeader" style="border-bottom-width: 1px;color: #bbb;"><b>$title &nbsp;</b>
		<div class="aui-buttons" style="float: right">
			#if($protectedContent)
		    	<a class="aui-icon aui-icon-small aui-iconfont-attachment" href="$protectedContentURL" title="Protected documents" style="margin-right:20px;">Documents</a>
		    #end
			<a class="aui-icon aui-icon-small aui-iconfont-file-pdf" style="float:right;" href="$downloadURL" target="document" title="Export document">PDF</a>
			#if($mailtoSigned || $mailtoMissing)
				<a class="aui-icon aui-icon-small aui-iconfont-email aui-dropdown2-trigger" aria-haspopup="true" aria-owns="area$UUID" href="#area$UUID" title="Send email">Email</a>
				<div id="area$UUID" class="aui-dropdown2 aui-style-default">
			        <ul class="aui-list-truncate">
			        	#if($mailtoSigned)
			            <li><a href="$mailtoSigned" target="mailto">Already signed</a></li>
			            #end
			            #if($mailtoMissing)
			            <li><a href="$mailtoMissing" target="mailto">Not yet signed</a></li>
			            #end
			        </ul>
				</div>
			#end
		</div>
	</div>
<div class="panelContent">
#else
	<b>$title</b>
#end
#set($bodyWithHtml = $markdown.toHTML($signature.getBody()))
<p>$bodyWithHtml</p>
<ul style="list-style-type: none;">
  	#foreach ($date2userName in $orderedSignatures)
  	    #set( $userName =  $date2userName.key)
  	    #set( $profile =  $profiles.get($userName))
	    <li><input class="checkbox" type="checkbox" checked="checked" disabled="true"> $date.format("dd.MM.yyyy HH:mm",$date2userName.value) - <a href="mailto:$profile.getEmail()">$profile.getFullName()</a></li>
	#end
	#foreach( $profile in $orderedMissingSignatureProfiles)
	    <li style="color: #bbb;"><input class="checkbox" type="checkbox" disabled="true"> $profile.getFullName()</li>
	#end
	#if($signAs)
	 <li><form action="$signAction"><input type="hidden" name="key" value="$signature.getKey()"><button class="aui-button" type="submit">Sign as $signAs</button></form></li> 
	#end
</ul>
#if( $panel )
</div></div>
#end


